html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  font-family: Roboto,-apple-system, BlinkMacSystemFont, Segoe UI,  Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Navbar {
     text-decoration: none;
     color: #ffffff;
   }
   
   .Navbar:hover{
     color: rgb(88, 202, 247);
   }

   .sideDrawer{
    text-decoration: none;
    color: #fcfcfd;
   }

   .pageTitle {
    font-weight: 500;
    text-align: center;
    color: #fcfcfd;
    padding-top: 15px;
}

.divider{
  color: #fcfcfd;
}

.footerLink{
  font-size: small;
  text-decoration: none;
  color: #ffffff;
  padding-left: 20px;
}

.footerLink:hover{
  text-decoration: underline;
}

.footerAddress{
  padding-left: 20px;
}

.footerEmail:hover{
  text-decoration: underline;
}

.formTitle{
  padding-top: 10px;
  padding-left: 20px;
}

.formSubtitle{
  font-size: 10px;
  padding-left: 20px;
   color: #8b8383;
}

.companyAddress{
  padding-left: 10px;
  padding-top: 2px;
}

.formContainer{
  padding-top: 10px;
  margin-bottom: 10px;
}

.formButton{
  align-self: center;
  width: '50%'
}

.formpageContent{
  /* margin: 10px; */
  padding: 25px;
}

.formpageContent .MuiFormControl-root{
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  
}

.formpageContent .formpageInputLabel{
   margin-left: 10%;
   color: #333333;
   font-size: 12px;
   font-weight: bolder;
}